
/*****************************************/
/*           STYLES                */
/*****************************************/
        body {
            background-color:#faebd7;
            font-family: Century Schoolbook;
            }

        #wrapper{
            width:1000px;
            background-color:#fffff0;
            margin-left:auto;
            margin-right:auto;
            }
        
         p::first-letter {
            color:#ff0000;
            font-size: 300%;
           }

        
        p{
            text-align: center;
            }  
/*****************************************/
/*          HEADER / HEADING STYLES                */
/*****************************************/
           
        header{
            background-color:#000000;
            height:107px;
            }
        
        
        header h1 {
            color:#FFDB58;
            font-size:180%;
            padding-top: 25px;
            //margin-left: 210px;
            
            font-family:Arial Black; 
            font-weight: bold;
            font-size: 24px;
            // display: inline;
            vertical-align: middle;
            color:#ff0000;
            float: right;
            }

        h2{
            text-align: center;
            }
        
        
        header img{
            display: inline;
            vertical-align: middle;
            color:#ff0000;
            }

        div h2 {
            background-color:burlywood;
            color:black;
            padding:20px;
            }

        div p{
            padding-left: 15px;
            padding-right: 15px;
            }
        
        
             
/*****************************************/
/*          NAV STYLES                   */
/*****************************************/

        nav {background-color:black;
            height: 43px;
            text-align: center;
            }
                
        nav li {
            display:inline-block;
            background-color:black;
            width:150px;
            border:solid black 8px;
            padding:5px;
            margin-right:20px;
            border: black 2px solid;
            text-align: center;
            }
        
                     
        nav a:link, nav a:visited {
            text-decoration: none;
            color: #ffdb58;
            font-weight: 900;
            }

        nav a:hover {
            border-bottom: dashed 2px brown;
            color:red;
            }
        
        nav a:active{
            border-bottom: dashed 2px brown;
            color:skyblue;
            }
        
        nav .currentpage {
            color:red;
            border-bottom: dashed blue 2px;

            }  
                        
        nav a {
            font-family: Arial;
            font-weight: bold;
            font-size: 1.2em;}
        
        div.search {
            //float:right;
            //width:35%;
            margin-top:1px;
            }
       div.search button {
          
            }
        

/***************************/
/* Hero Styles             */
/***************************/

        div#pagetitle h2 {
            text-align: center;
            background-color: beige;
            }            
       
        div#hero {
            text-align: center;
                }

        div#hero img {
            width: 80%;
            max-width:500px;
            height: auto;
            border:0px;
        }
      
/*****************************************/
/*          FOOTER STYLES                */
/*****************************************/
        footer{
            background-color:#000000;
            padding:20px;
            text-align: center;
            color:#ffdb58;
            height:63px;
            clear:both;
            }            



/***************************************/
/*Photo Gallery                        */
/***************************************/


* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}


.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}