
#picture img{
    margin-top: 15px;
    padding: 0.32em;
}

#text h3{
    margin-top:-515px;
    width: 50%;
    padding: 0.45em;
    color: lawngreen;
    float: right; 
    font-style: italic; 
    
    
}
#text1{
    display: inline-block;
    padding: .40em;
    color: white;
    font-size: 0.9em;
    font-family: Arial;
    text-align: justify;
    margin-top: -490px;
    float: right;
    width: 50%; 
}
#text2 {
    text-align: justify;
    padding: 1em;
    background-color: white;
    font-size: 0.9em;
    font-family: Arial;
    margin-bottom: 40px;
}
.life{
    font-size: 20px;
    color:red;
    font-style: italic;
    font-weight: bold;
    
}
#picture h2{
    text-align: center;
    color:violet;
    
    
}